<!DOCTYPE html>
<html>
<head lang="en">
    <script src="../script/angular.min.js"></script><!--import js-->
    <script src="../js/d3.v3.min.js"></script>
    <script src="../js/d3.slider.js"></script>
    <script src="../script/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../CSS/d3.slider.css" />
    <style>

        .d3-slider-axis path {
            stroke-width: 1;
            fill: none;
        }

        .d3-slider-axis line {
            fill: black;
            stroke: #aaa;
            shape-rendering: crispEdges;
        }

        .d3-slider-axis text {
            font-size: 11px;
            fill: greenyellow;
        }
    </style>
</head>
<body ng-app="myapp" ng-controller="myctrl">

<input type="date" ng-model="date" />
<span>{{datetime.date}}</span>
<br>
<input type="text" id="time" ng-model="time" />
time:{{time}}
<div id="slider" ></div>
<!--这样做ng-model是可以绑定的，但是换成定制的控件就得不到值了，这是怎么回事-->
<br>

<div ng-model="datetime"></div>
{{datetime}}
<br>


<script>

   var app=angular.module("myapp",[]);
   app.controller("myctrl",function($scope){

           $scope.date='2010-01-01';
               $scope.time='13';


       $scope.$watch("date",function(){
           var data=$scope.date;
          // var time=$scope.datetime.time;
           console.log("datetime:"+data);
           // console.log("time"+time);
       },true);
       $scope.$watch("time",function(){
             var time=$scope.time;
           // var time=$scope.datetime.time;
           console.log("datetime:"+time);
           // console.log("time"+time);
       },true)


   })


  /* app.directive("slider",function(){
       return{
           restrict:'E',
           require:'ngModel',
           link:function(scope,el,attr,ngModel){
               //
            // d3.select(el[0]).call(d3.slider());
               var width=300;
               var x=d3.scale.linear().domain([0,23])
                       .range([0,width]).clamp(true);
               var axis=d3.svg.axis().scale(x).tickFormat(function(d){
                   if(d<10)return "0"+d+":00";
                   else return d+':00';
               })

               d3.select(el[0]).call(d3.slider().axis(axis).min(0).max(23).step(1));
               //
             /*  ngModel.$setViewValue(ngModel.$viewValue+10);
               scope.$apply();*/


               //console.log()
  /*       }
       }
   })*/

   //d3.select(".slider").call(d3.slider().axis(axis).min(0).max(23).step(1));
   var width=300;
   var x=d3.scale.linear().domain([0,23])
           .range([0,width]).clamp(true);
   var axis=d3.svg.axis().scale(x).tickFormat(function(d){
       if(d<10)return "0"+d+":00";
       else return d+':00';
   })

   d3.select("#slider").call(d3.slider().axis(axis).min(0).max(23).step(1).on("slide",function(evt,value){
     //  console.log(value);
       $("#time").val(value);
     //  console.log($("#time").val());
      // d3.select("#time").text(value);
   }));

</script>
</body>
</html>